In [2]:
# carregar bibliotecas
source('fun/setup.R')

In [3]:
# -----------------------------------------------------------------------------
# Isolar osm_ids de trechos processados no map matching
# -----------------------------------------------------------------------------

# Abre todos os arquivos de mapmatching processados e isola seus osm_ids (edges.way_id)
isolar_osmids_processados <- function(ano_mes) {
  # Abrir todos trechos processados - queremos selecionar somente os osm_id para
  # associação com o viário
  search_folder <- sprintf('%s/%s/viagens_processadas_csv', pasta_map_matching, ano_mes)
  result_files  <- list.files(search_folder, pattern = '\\d{6}_\\d{2}.csv', recursive = TRUE, full.names = TRUE)
  
  # Criar um dataframe único para todos os registros daquele dia
  # https://stackoverflow.com/questions/46299777/add-filename-column-to-table-as-multiple-files-are-read-and-bound
  result_files <- data.frame(f_path = result_files)
  
  # Dataframe temporário para processar uma certa quantidade de linhas
  sel_osm_ids <-
    result_files %>%
    # Abrir cada arquivo e extrair conteúdo em nova coluna
    mutate(reg = lapply(f_path, read_delim, delim = ';', col_names = FALSE, col_types = cols(.default = "c"))) %>% 
    # Transformar cada linha de conteúdo em uma linha nova no tibble (linhas com
    # nomes de arquivos vão se repetir para cada linha de conteúdo)
    unnest(reg, keep_empty = TRUE) %>% 
    # Pegar a primeira linha e usar como nomes de colunas, depois descartá-la
    setNames(slice(., 1)) %>% 
    # Nomes das colunas vieram junto - retirar essas linhas (todas repetidas)
    filter(trip_id != 'trip_id') %>% 
    # Retirar primeira coluna, com referência aos endereços do arquivo
    select(edges.way_id) %>% 
    distinct()
  
  # Definir arquivo de saída
  out_file <- sprintf('%s/%s_osmids_selecionados.csv', pasta_map_matching, ano_mes)
  write_delim(sel_osm_ids, out_file, delim = ';')
}

In [4]:
# -----------------------------------------------------------------------------
# Estrutura de pastas e arquivos
# -----------------------------------------------------------------------------

# Estrutura de pastas
pasta_dados        <- "../../yellow_dados"
pasta_map_matching <- sprintf("%s/05_map_matching", pasta_dados)
meses_proc <- c('201811', '201812', '201901')

lapply(meses_proc, isolar_osmids_processados)

mutate: new variable 'reg' (list) with 51,590 unique values and 0% NA

slice: removed 4,728,562 rows (>99%), one row remaining

filter: removed 51,590 rows (1%), 4,676,973 rows remaining

select: dropped 19 variables (../../yellow_dados/05_map_matching/201811/viagens_processadas_csv/000130_00.csv, trip_id, n_points, timestamps, lat, …)

distinct: removed 4,660,874 rows (>99%), 16,099 rows remaining

mutate: new variable 'reg' (list) with 90,599 unique values and 0% NA

slice: removed 8,220,128 rows (>99%), one row remaining

filter: removed 90,599 rows (1%), 8,129,530 rows remaining

select: dropped 19 variables (../../yellow_dados/05_map_matching/201812/viagens_processadas_csv/000202_00.csv, trip_id, n_points, timestamps, lat, …)

distinct: removed 8,110,875 rows (>99%), 18,655 rows remaining

mutate: new variable 'reg' (list) with 58,510 unique values and 0% NA

slice: removed 5,408,862 rows (>99%), one row remaining

filter: removed 58,510 rows (1%), 5,350,353 rows remaining

select: dropped 19 variables (../../yellow_dados/05_map_matching/201901/viagens_processadas_csv/000265_00.csv, trip_id, n_points, timestamps, lat, …)

distinct: removed 5,333,161 rows (>99%), 17,192 rows remaining

[[1]]
# A tibble: 16,099 x 1
   edges.way_id
   <chr>
 1 73947599
 2 589519049
 3 590634808
 4 73947594
 5 589638552
 6 589518278
 7 589518279
 8 396771678
 9 73947601
10 150545097
# … with 16,089 more rows

[[2]]
# A tibble: 18,655 x 1
   edges.way_id
   <chr>
 1 27951309
 2 936898873
 3 936898874
 4 249697082
 5 248870345
 6 27951341
 7 27952548
 8 248521920
 9 248521919
10 248521880
# … with 18,645 more rows

[[3]]
# A tibble: 17,192 x 1
   edges.way_id
   <chr>
 1 95944116
 2 229481094
 3 760437724
 4 27467667
 5 27473198
 6 944870509
 7 325322859
 8 936129314
 9 27579960
10 27473186
# … with 17,182 more rows